<ul class="nav nav-tabs">

    <li class="active">
        <a href="#command-line" data-toggle="tab">Command Line</a>
    </li>
    <li>
        <a href="#tortoise" data-toggle="tab">Tortoise Git</a>
    </li>
    <li>
        <a href="#man" data-toggle="tab">Man</a>
    </li>
</ul>

<!-- Tab Panes -->
<div class="tab-content">
    <div class="tab-pane active" id="command-line">
        Setting up your identity
        <div id="window">
            <div id="body">
                <p>git config --global user.name "Your name"</p>
                <p>git config --global user.email "your@email.com"</p>
            </div>
        </div>

        Setting up your editor
        <div id="window">
            <div id="body">
                <p>git config --global core.editor vim</p>
            </div>
        </div>

        Setting up your mergetool
        <div id="window">
            <div id="body">
                <p>git config --global merge.tool emerge</p>
            </div>
        </div>

        Formatting white space
        <div id="window">
            <div id="body">
                <p>git config --global core.autocrlf [true|false]</p>
            </div>
        </div>

        Viewing your settings
        <div id="window">
            <div id="body">
                <p>git config --list</p>
            </div>
        </div>

    </div>
    <div class="tab-pane" id="tortoise">
        Durp
    </div>
    <div class="tab-pane" id="man">
        <a href="https://www.kernel.org/pub/software/scm/git/docs/git-status.html">git-status(1)</a>
    </div>
</div>
