<ul class="nav nav-tabs">

    <li class="active">
        <a href="#command-line" data-toggle="tab">Command Line</a>
    </li>
    <li>
        <a href="#tortoise" data-toggle="tab">Tortoise Git</a>
    </li>
    <li>
        <a href="#man" data-toggle="tab">Man</a>
    </li>
</ul>

<!-- Tab Panes -->
<div class="tab-content">
    <div class="tab-pane active" id="command-line">
        Add a single file to staging
        <div id="window">
            <div id="body">
                <p>git add path/to/file </p>
            </div>
        </div>

        Add all modified files
        <div id="window">
            <div id="body">
                <p>git add -u </p>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="tortoise">
        Durp
    </div>
    <div class="tab-pane" id="man">
        <a href="https://www.kernel.org/pub/software/scm/git/docs/git-add.html">git-add(1)</a>
    </div>
</div>
