<ul class="nav nav-tabs">

    <li class="active">
        <a href="#command-line" data-toggle="tab">Command Line</a>
    </li>
    <li>
        <a href="#tortoise" data-toggle="tab">Tortoise Git</a>
    </li>
    <li>
        <a href="#man" data-toggle="tab">Man</a>
    </li>
</ul>

<!-- Tab Panes -->
<div class="tab-content">
    <div class="tab-pane active" id="command-line">
        Create a branch
        <div id="window">
            <div id="body">
                <p>git branch &lt;name&gt; </p>
            </div>
        </div>

        Show all branches
        <div id="window">
            <div id="body">
                <p>git branch -a</p>
            </div>
        </div>

        Delete a branch
        <div id="window">
            <div id="body">
                <p>git branch -d &lt;name&gt; </p>
                <p>git branch -D &lt;name&gt; </p>
            </div>
        </div>

        Rename a branch
        <div id="window">
            <div id="body">
                <p>git branch -m &lt;old name&gt; &lt;new name&gt;</p>
                <p>git branch -M &lt;old name&gt; &lt;new name&gt;</p>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="tortoise">
        Durp
    </div>
    <div class="tab-pane" id="man">
        <a href="https://www.kernel.org/pub/software/scm/git/docs/git-branch.html">git-branch(1)</a>
    </div>
</div>
