<ul class="nav nav-tabs">

    <li class="active">
        <a href="#command-line" data-toggle="tab">Command Line</a>
    </li>
    <li>
        <a href="#tortoise" data-toggle="tab">Tortoise Git</a>
    </li>
    <li>
        <a href="#man" data-toggle="tab">Man</a>
    </li>
</ul>

<!-- Tab Panes -->
<div class="tab-content">
    <div class="tab-pane active" id="command-line">
        Switch to a new branch
        <div id="window">
            <div id="body">
                <p>git checkout <branchname> </p>
            </div>
        </div>

        This command creates a new branch and then switches to it.
        <div id="window">
            <div id="body">
                <p>git checkout -b <new-branch> </p>
            </div>
        </div>

    </div>

    <div class="tab-pane" id="tortoise">
        Durp
    </div>
    <div class="tab-pane" id="man">
        <a href="https://www.kernel.org/pub/software/scm/git/docs/git-checkout.html">git-checkout(1)</a>
    </div>
</div>
