
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#test">Test</button>


<%= render "modals/test" %>

<div id="cloud"><span class="shadow"></span></div>

<div class="folder"></div>
