@import url(http://weloveiconfonts.com/api/?family=entypo);
.container {
    width: 1000px;
    margin: 0 auto;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  font-size:2em;
}
.glyphicon{
    font-size:2em;
}
/*div{border:1px solid black;}*/

div.row.content {
    border-bottom: 4px solid  rgba(0, 0, 0, 1);
    border-radius: 20px;
    padding: 50px 20px 50px 20px;

   
}
div.row.triangle{
    background: none;
}
.triangle-down {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 25px solid rgba(0, 0, 0, 1);			
}			

.scrollable {
    overflow-x: hidden;
    height: 500px;
}
