
_body { background:#d2dfe6;
    color: #444;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.5em;
}

/* FINDER WINDOW */

#window {
    width: 90%;
    margin-top:40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:40px;
    min-width: 500px; 
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
    /*-webkit-transition:all 0.5s; */
    overflow: hidden; 
}


#body {
    font-family: Andale Mono, monospace;line-height: 1em;
    font-size:13px;
    float: left;
    width: 100%;
    //min-height:130px;
    background:#000;
    padding:10px;
    line-height:1.5em;
}

#body p { 
    color: #63de00!important; 
}

#body p:before {
    content: '$: ';
}
